{% load bootstrap4 %}
<div class="card">
    {% if post.image_set.all %}
        <div id="post{{ post.id }}" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                {% for image in post.image_set.all %}
                    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                        <img src="{{ image.file.url }}" class="d-block w-100" alt="{{ image.file }}">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#post{{ post.id }}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#post{{ post.id }}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% else %}
        <img src="http://picsum.photos/600/?random" alt="random-image" class="card-img-top"/>
    {% endif %}
    <div class="card-body mt-3">

        {% if user == post.uploader %}
            <form action="{% url 'posts:delete_post' post.id %}" method="post">
                {% csrf_token %}
                <p class="card-text "><img src="../static/posts/css/favicon-16x16.png"
                                           alt=""><b>{{ post.uploader }}</b> {{ post.content }}
                    <button type="submit" class="fa fa-trash border-0 float-right text-danger" aria-hidden="true"
                            onclick="return confirm('진짜 지울거야..?');"></button>
                    <a href="{% url 'posts:update_post' post.id %}" class="far fa-edit text-danger float-right"></a></p>
            </form>
        {% else %}
            <p class="card-text"><img src="../static/posts/css/favicon-16x16.png"
                                      alt=""><b>{{ post.uploader }}</b> {{ post.content }} <a
                    onclick="return confirm('권한이 없습니다.');" class="fa fa-trash text-danger float-right ml-1"></a> <a
                    onclick="return confirm('권한이 없습니다.');" class="far fa-edit text-danger float-right"></a></p>
        {% endif %}

    </div>
    <div class="card-body" style="height: 100px; max-height: 100px; overflow:scroll;">
        {% for comment in post.comment_set.all %}
            <p class="card-text text-muted">
                <strong>{{ comment.commenter }}</strong> {{ comment.content }}
            </p>
        {% empty %}
            <p class="card-text text-muted">leave a comment!</p>

        {% endfor %}


    </div>
    <div class="card-footer">
        <form action="{% url 'posts:create_comment' post.id %}" method="post">
            {% csrf_token %}
            {{ comment_form.content }}
            <input type="submit" class="btn btn-light text-muted" value="게시">
        </form>
    </div>
</div>