{% extends 'base.html' %}

{% block body %}
    <br>
    <h2 class="text-center engft"><i style="color: #9c3328" class="fab fa-instagram"></i> Jisstagram</h2>
    <br>
    <br>
    {% if h1 %}
    <h2>{{ h1 }}</h2>
    {% endif %}
    <div class="container">
    <section class="card-columns row">
        {% for post in posts %}
            <div class="col-md-4">
            {% include 'posts/_post.html' with post=post comment_form=comment_form %}
            </div>
        {% endfor %}
    </section>
    </div>
{% endblock %}